* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: white;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.nav-container {
  height: auto;
  display: flex;
  align-items: center;
}
.img-main-logo {
  width: 217px;
  height: 65px;
}
.menu-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.firt-menu ul {
  width: auto;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.help-img-container {
  width: 375px;
  height: 50px;
}
.item-menu {
  margin-right: 20px;
}
#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.navbar-container {
  width: 100%;
  height: 50px;
  background: #002749;
  display: flex;
  align-items: center;
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.list-navbar-menu {
  width: 1170px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background: #002749;
}
.list-navbar-menu-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background: #002749;
  gap: 5px;
}
#search:hover,
.list-navbar-menu-item:hover {
  height: 100%;
  cursor: pointer;
  background: #cb286e !important;
  transition: 0.1s ease;
}

.list-navbar-menu-item-typography,
.list-navbar-menu-item i {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
}

.accueil-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background: white;
}
.accueil-box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.accueil-box p {
  font-size: 11px;
  color: grey;
}
.menu-direction {
  font-size: 11px;
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

.carrousel-container {
  width: 100%;
  height: 300px;
  background-image: url("https://s3-eu-west-1.b-cdn.net/jt-resources/userfiles/jt/images/homepage/slideshow/Background/JT-NL-Banniere-EBBhiver-2024.webp");
  background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  /* filter: blur(2px); Applique un flou de 5 pixels */
}

.carrousel-navbar-list {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: 1170px;
  margin: 0 auto;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5); /* Ombre plus marquée */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrousel-navbar-item {
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
  border-right: 1px dotted grey;
}

.carrousel-navbar-item a {
  height: 50px;
  width: 50px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  gap: 8px;
}
#search {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #cb286e;
}
#search p:hover {
  color: white !important;
}

li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #cb286e;
  transition: width 0.3s ease, left 0.3s ease;
}

.carrousel-navbar-list li:hover::after {
  width: 100%;
  left: 0;
}

#search-typography,
#search-icon {
  background: transparent;
  color: white;
}

.fa-magnifying-glass {
  color: white;
}

.carrousel-dotted {
  height: 10px;
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.round {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}
.round:hover {
  background-color: #002749;
  transition: 0.1s ease;
}

.title-container {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.title-container h2 {
  font-size: 30px;
  font-weight: 300;
  color: #cb286e;
}

.main-container {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.duo-container,
.card-pepite {
  position: relative;
  display: flex;
  flex: 1;
  width: 1170px;
  gap: 5px;
  margin-bottom: 5px;
}
.card-pepite::after {
  content: "Découvrir >";
  position: absolute;
  color: white;
  width: 100px;
  height: 30px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  background-color: #cb286e;
  transition: width 0.3s ease, left 0.3s ease;
  display: none;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.card-pepite:hover::after {
  display: block;
  z-index: 1000;
  transition: 0.2s ease;
}

.duo-container img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.duo-container img:hover {
  background-color: #00274977;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  filter: brightness(0.3);
}

.promo {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: #002749a4 !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.country {
  background: transparent !important;
  color: white;
  padding: 5px;
}
.country p {
  background: transparent !important;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.country-description {
  font-size: 12px !important;
  text-transform: lowercase !important;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  background: transparent;
}
.price p {
  background: transparent;
  color: white;
  text-transform: lowercase;
  font-size: 12px;
  padding-right: 5px;
}
.price-bold {
  font-size: 26px !important ;
  font-weight: bold;
}

.btn-bon-plan {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-bon-plan button {
  background-color: #cb286e;
  border: none;
  height: 40px;
  width: 250px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
}
.best-sells {
  height: 100%;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  flex-direction: column;
}

.card-global-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title {
  margin-top: 50px;
  margin-bottom: 50px;
  background: transparent;
}

.section-title h2 {
  font-size: 30px;
  font-weight: 300;
  color: #cb286e;
  background: transparent;
}
/****** CARD ITEM */
.card-global-container {
  width: 1170px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.mini-card-container {
  width: 100%;
  height: auto;
  margin: 5px;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5); /* Ombre plus marquée */
  border-radius: 20px;
  cursor: pointer;
}

.mini-card-container img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-content-title,
.card-content-title-hotel-name,
.card-content-location {
  color: #002749;
  padding: 5px;
  font-weight: 600;
}

.card-content-location {
  font-size: 12px;
  margin-bottom: 50px;
  margin-top: 5px;
  color: rgb(87, 86, 86);
  font-weight: 800;
}

.card-duration-vacation {
  font-size: 11px;
  color: rgb(87, 86, 86);
  padding-left: 5px;
}

.card-content-price {
  margin-top: 5px;
  display: flex;
  align-items: end;
  margin-bottom: 35px;
  padding-left: 5px;
}
.start-price {
  font-size: 11px;
  color: #002749;
}

.card-content-price-total {
  font-weight: bold;
  font-size: 26px;
  transform: translateY(5px);
  color: #002749;
}

.card-btn {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-btn button {
  border-radius: 8px;
  width: 150px;
  height: 30px;
  background-color: #cb286e;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.card-btn button:hover {
  filter: brightness(0.8);
}

.club-world {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.club-world h2 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
  color: #cb286e;
  background: transparent;
}

.club-world p {
  font-size: 15px;
  max-width: 950px;
  color: rgb(87, 86, 86);
  text-align: center;
  margin-bottom: 20px;
}

/**SECTION CLUB **/

.club {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.club-container {
  width: 1170px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-logo-club {
  position: absolute;
  background: transparent;
  width: 200px;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  padding-top: 5px;
  z-index: 100;
}
.img-logo-club-bkg {
  border-radius: 15px;
}
.card-club {
  position: relative;
  margin: 5px;
  cursor: pointer;
}
.position-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background: black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  opacity: 0;
}
.text-club-hover {
  background: transparent;
  color: white;
  margin-top: 25%;
  text-align: center;
}
.card-club-discover {
  border-radius: 8px;
  width: 150px;
  height: 35px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  cursor: pointer;
}
.fa-chevron-right {
  color: white;
  background: transparent;
  padding-left: 5px;
}

.position-absolute:hover {
  opacity: 0.8;
}

.voyager {
  width: 100%;
  height: auto;
  display: flex;
}
.voyager-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.voyager-container h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
  color: #cb286e;
  background: transparent;
}

.voyager-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.voyager-container strong {
  margin-bottom: 20px;
  color: #002749;
  font-size: 20px;
}

.voyager-container p {
  margin-bottom: 15px;
  color: #002749;
  font-size: 15px;
  text-align: center;
}
